log/*
tmp/*
storage/*
db/*.sqlite3
db/schema.rb
db/structure.sql
public/system
public/uploads
.project
.idea/
config/database.yml
*~
*#*
.#*
.DS_Store
webrat-*.html
capybara-*.html
rerun.txt
coverage.data
coverage/*
dump_for_download.dump
.~lock.*
.*.swp
storage/*
/tags
tmtags
/app/assets/images/rgbapng
vendor/assets/bower_components/*
